<div class="title"> <h1>Sign into your account</h1> </h1> </div>
    <br>
    <div class="second-nav">
        <a href="/user/index" class="btn btn-outline-primary"> Users </a>
        <a href="/user/add" class="btn btn-outline-primary"> Add User </a>

        <a href="/cat/index" class="btn btn-outline-primary"> Cats</a>
        <a href="/cat/add" class="btn btn-outline-primary"> add Cats </a>

        
            <% if(currentUser) { %>
                Hi <%= currentUser.firstName %> <%= currentUser.lastName %>
                <a href="/auth/logout" class="btn btn-outline-primary">Logout</a>

            <% } else { %>
                <a href="/auth/signin"  class="btn btn-outline-primary">Signin</a>
                <a href="/auth/signup"  class="btn btn-outline-primary">Signup</a>
            <% } %>
        
    </div>
    <br>
    <nav> 
    <div class="flex-container">
       <div class="main-nav">
        <form method="POST" action="/auth/signin">


            <div class="form-group">
                <label>Email <Address></Address></label>
                <input type="email" name="emailAddress" class="form-control">
            </div>
        
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control">
            </div>
        
            <br>
            
            <div>
                <button type="submit" class="btn btn-primary">Sign in to your account</button>
            </div>
        
        </form>
    </div>
</div>  