<div class="title"> <h1> Locations </h1> </div>
    <br>

    <nav> 
        <div class="flex-container">
           <div class="main-nav pad">
            <a href="/cat/index" class="btn btn-outline-primary">Cats</a>
            <a href="/cat/add" class="btn btn-outline-primary">Add Cat</a>
    
            <a href="/location/index" class="btn btn-outline-primary">Locations</a>
            <a href="/location/edit" class="btn btn-outline-primary">Add Location</a>
    
        </div>
        </div>
    
    </div>  

