<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate My Cat! &#128049</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="title"> <h1> <%= title %> </h1> </div>
    <br>
    <div class="second-nav">
      <a href="/" class="btn btn-outline-primary"> Home </a>
      <a href="/cat/index" class="btn btn-outline-primary"> Cats</a>
      <a href="/cat/add" class="btn btn-outline-primary"> Add A Cat </a>
      <!-- <a href="/location/index" class="btn btn-outline-primary"> Cat Map </a> -->
      <a href="/leaderboard" class="btn btn-outline-primary"> Leaderboard </a>
      <!-- <a href="/user/index" class="btn btn-outline-primary"> Users </a> -->
      <a href="/user/add" class="btn btn-outline-primary"> Add User </a>
      
          <% if(currentUser) { %>
               Hi <%= currentUser.firstName %> <%= currentUser.lastName %>
              <a href="/auth/logout" class="btn btn-outline-primary">Logout</a>

          <% } else { %>
              <a href="/auth/signin"  class="btn btn-outline-primary">Sign In</a>
              <a href="/auth/signup"  class="btn btn-outline-primary">Sign Up</a>
          <% } %>
      
  </div>
  <br>
    <%- body %>

    <br>
<footer>
    
   <div class="footer"><a href="/info/about">About Us</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="/info/info">Info</a>  &nbsp;&nbsp;&nbsp;&nbsp; <a href="/info/disclaimer">Disclaimer</a> </div>
</footer>
<script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>
  <script src="../server.js"></script>
</body>
</html>