body {
    background-image: url('../images/lazy_cat.jpg');
    background-size: cover;
    padding: 20px;
    margin: auto;
    font-family: 'Amatic SC', cursive;
}

.title {
    background-color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    width: 1000px;
    height: 100px;
    margin: auto;
    opacity: 80%;
    border: 1px solid rgb(171, 171, 171);
    max-width: 100%;
    justify-content: center;
}
.flex-container {
    min-height: min-content;
    display: flex;
    flex-direction: row;
    width: 1000px;
    min-height: 550px;
    margin: auto;
    max-width: 100%;
    justify-content: center;
}
.main-nav {
    min-height: 550px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    opacity: 80%;
    max-width: 100%;
    justify-content: center;
    background-size: cover;
}
.pad {
    padding: 10px;
}
.col-sm-10 {
    max-width: 500px;
}
.users-form {
    height: 40px;
}
.space-btn {
   margin-left: 275px;
}
.second-nav {
    width: 1000px;
    min-height: 50px;
    background-color: white;
    /* border-radius: 15px; */
    margin: auto;
    opacity: 80%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 100%;
    justify-content: center;
}
.footer {
    background-color: white;
    text-align: center !important;
    font-size: x-large;
    padding-top: 10px;
    width: 1000px;
    height: 60px;
    margin: auto;
    opacity: 80%;
    max-width: 100%;
    justify-content: center;
}
.catWindow {
    width: 1000px;
    height: 600;
    /* display: flex !important;;
    flex-wrap: wrap !important;; */
}
.catFooter {
    background-color: white;
    opacity: 80%;
    text-align: center;
}
.w3-card-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.clear {
    clear: both;
    }

.leaderboard {
    max-width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    align-content: center;
    margin: 0 auto;
}

.cat-btn {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 20px;
    text-align: center;
}


#delete {
    background-color: red;
    border: 3px solid red;
}

#attribute {
    color: white;
    font-weight: bolder;
    font-size: larger;

}

.table { 
    max-width: 100%;
    justify-content: center;
    color: white;
}

.catDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    /* align-items: baseline; */
    
}

#catImage {
    display: flex;
    justify-content: center;
    opacity: 100%;
}

#rating {
    color: white;
    font-size: 25px;
}


#formDetails {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

#tableText {
    color: white;
}
