body {
    background-color: #1b4a6b;
    background-size: cover;
    padding: 20px;
    margin: auto;
    font-family: 'Amatic SC', cursive;
}

.title {
    border-radius: 15px;
    background-color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    width: 1000px;
    height: 100px;
    margin: auto;
    /* opacity: 80%; */
    border: 1px solid rgb(171, 171, 171);
    max-width: 100%;
    justify-content: center;
    border-radius: 15px;
}
.flex-container {
    background-image: url('/images/vectorstock_4687675.jpg');
    background-size: cover;
    min-height: min-content;
    display: flex;
    flex-direction: row;
    width: 1000px;
    min-height: 550px;
    margin: auto;
    max-width: 100%;
    justify-content: center;
    border-radius: 15px;
}
.main-nav {
    min-height: 550px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    /* opacity: 80%; */
    max-width: 100%;
    justify-content: center;
    background-size: cover;

}
.pad {
    padding: 10px;
}

.info {
    color: black;
    font-size: 40px;
    text-align: center;
}
.team {
    height: 200px;
    width: 150px;
    margin: 30px;
    border: 5px black;
    
}

.col-sm-10 {
    max-width: 500px;
}
.users-form {
    height: 40px;
}
.space-btn {
   margin-left: 275px;
}
.second-nav {
    width: 1000px;
    min-height: 50px;
    background-color: white;
    border-radius: 15px;
    margin: auto;
    /* opacity: 80%; */
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 100%;
    justify-content: center;
}
.footer {
    background-color: white;
    border-radius: 15px;
    text-align: center !important;
    font-size: x-large;
    padding-top: 10px;
    width: 1000px;
    height: 60px;
    margin: auto;
    /* opacity: 80%; */
    max-width: 100%;
    justify-content: center;
    border-radius: 15px;
}
.catWindow {
    width: 1000px;
    height: 600;
    /* display: flex !important;;
    flex-wrap: wrap !important;; */
}
.catFooter {
    background-color: white;
    /* opacity: 80%; */
    text-align: center;
}
.w3-card-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.clear {
    clear: both;
    }

/* .leaderboard {
    max-width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    align-content: center;
    margin: 0 auto;
} */

.cat-btn {
    display: flex;
    /* justify-content: center;
    align-self: center; */
    width: auto;
    height: auto;
    margin: 20px;
    text-align: center;
}

#submitbtn {
    display: flex;
    margin: auto;
    text-align: center;
}

#delete {
    background-color: red;
    border: 3px solid red;
}

#attribute {
    color: black;
    font-weight: bolder;
    font-size: larger;

}

.table { 
    max-width: 500px;
    justify-content: center;
    color: white;
    margin: auto;
}


.catDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    margin-left: 20px;
    /* align-items: baseline; */
    
}

#catImage {
    display: flex;
    justify-content: center;
    opacity: 100% !important;
}

#rating {
    color: black;
    font-size: 25px;
}


#formDetails {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

#tableText {
    color: black;
}

#welcomeMessage {
    color: black
}

/* .us {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
} */

.team-parent {
    display: flex;
    flex-direction: column;
    max-width: 33%;
    align-items: center;
 }

 @media screen and (max-width: 600px) {
    img.team {
        width: 80px;
        height: 100px;
    }
 }
