<% title = "About the creators of Rate My Cat App™" %>

<nav>
  <div class="flex-container">
    <div class="main-nav info">
      We are three student programmers enrolled on General Assembly's 3-month Software Engineering Immersive course.
      <p />
      <p />
      For our second project, the aim was to build an app from scratch (steady with the cat jokes...) as part of a team. We are:
      <p />
      <p />
  
      <p></p>
      <p></p>
      <p></p>
      <div class="flex-container">
        <div class="pad">
          <img src="/images/team/Sasha.jpeg" alt="Sasha" class="team">
          <div><h1>Sasha</h1>Loves cats and dogs in equal measure. Big fan of code, coffee and cooking. </div>
        </div>
        <div class="pad">
          <img src="/images/team/Ashish.jpg" alt="Ashish" class="team">
          <div><h1>Ashish</h1>Appreciates all animals (including cats), full time dilettante, aspiring software developer.</div>
        </div>
        <div class="pad">
          <img src="/images/team/Dan.jpg" alt="Dan" class="team">
          <div><h1>Dan</h1>Cat and code lover. Proud owner of Ralph and Elmo.</div>
        </div>
      </div>

    </div>
  </div>
</nav>
