<% title = "About the creators of Rate My Cat App™" %>

<nav>
  <div class="flex-container">
    <div class="main-nav info">
      We are three student programmers enrolled on General Assembly's 3-month Software Engineering Immersive course.
      <p />
      <p />
      For our second project, the aim was to build an app from scratch (steady with the cat jokes...) as part of a team. We are:
      <p />
      <p />
  
      <p></p>
      <p></p>
      <p></p>

      <div class="flex-container">
        <div class="pad team-parent">
          
          <img src="/images/team/Sasha.jpeg" alt="Sasha" class="team">
          <div><h1>Sasha</h1><h3>Loves cats and dogs in equal measure. Big fan of code, coffee and cooking.</h3>
          <h5> <a href="https://git.generalassemb.ly/alex-sasha-ward">Sasha's github portfolio</a></h5>
          </div>
        </div>
        <div class="pad team-parent">
          <img src="/images/team/Ashish.jpg" alt="Ashish" class="team">
          <div><h1>Ashish</h1><h3>Appreciates all animals (including cats), full time dilettante, aspiring software developer.</h3>
          <h5> <a href="https://git.generalassemb.ly/ehcarr">Ashish's github portfolio</a></h5></div>
        </div>
        <div class="pad team-parent">
          <img src="/images/team/Dan.jpg" alt="Dan" class="team">
          <div><h1>Dan</h1><h3>Cat and code lover. Proud owner of Ralph and Elmo.</h3>
          <h5> <a href="https://git.generalassemb.ly/emsleyd">Dan's github portfolio.</a></h5>
        </div>
        
      </div>
      </div>
    </div>
    </div>
  </div>
</nav>

