<% title = "Disclaimer time" %>

<nav>
  <div class="flex-container">
    <div class="main-nav info">
      Rate My Cat App™ belongs solely to the creators of the site.
      <p />
      All user information and cat photos are the sole property of the registered users.
      <p />
      Although every care has been taken to ensure the site works as intended - and we build it with an awful lot of time, dedication and no shortage of bug-hunting - any errors or bugs are purely coincidental. Nothing to see here. Move along now. Nice kitty.
    </div>
  </div>
</nav>