<% title = "Info about my Rate My Cat App™!" %>

<nav>
  <div class="flex-container">
    <div class="main-nav info">
      We thought "Who doesn't love cats?!? If only there was a place you could upload a pic of your cat... ooo, and let people rate your cat... ooo OOO where you can rate OTHER cats too?!?"
      <p />
      <p />
      So here you are - a gift from us to you!
    </div>
  </div>
</nav>