<div class="title"> <h1> <%- welcomeMessage %> </h1> </div>
    <br>
<nav> 
     <div class="flex-container">
        <div class="second-nav"></div>
        <div class="main-nav">
        <img src="/images/funny-cat-faces-1.jpg" width="100%" height="100%" /> </div>
    </div>

</div>  
</nav>
   

    