<style>

.main-nav {
    background-image: url('/images/funny-cat-faces-1.jpg');
    color: rgba(255, 255, 255, 0.83);
    font-size: 40px;
    text-align: center;
    padding: 200px 70px 180px;
}
</style>

<div class="title"> <h1> <%- welcomeMessage %> </h1> </div>
    <br>
    <div class="second-nav">
        <a href="/user/index" class="btn btn-outline-primary"> Users </a>
        <a href="/user/edit" class="btn btn-outline-primary"> Edit user details </a>

        <a href="/cat/index" class="btn btn-outline-primary"> Cats</a>
        <a href="/cat/add" class="btn btn-outline-primary"> add Cats </a>

        
            <% if(currentUser) { %>
                Hi <%= currentUser.firstName %> <%= currentUser.lastName %>
                <a href="/auth/logout" class="btn btn-outline-primary">Logout</a>

            <% } else { %>
                <a href="/auth/signin"  class="btn btn-outline-primary">Signin</a>
                <a href="/auth/signup"  class="btn btn-outline-primary">Signup</a>
            <% } %>
        
    </div>
    <br>
    <nav> 
    <div class="flex-container">
       <div class="main-nav">
            We are Rate My Cat - the ONLY place where cat lovers
            can show their feline friends to the world and see what
            others think!
            <p />
            <p />
            Join now or sign in to get sharing!

    </div>
</div>  
</nav>
   

    