<<<<<<< HEAD

            <h1> <%= welcomeMessage %> </h1>

<img src="/images/funny-cat-faces-1.jpg" width="100%" height="100%" />


=======
<<<<<<< HEAD
<h1> <%= welcomeMessage %> </h1>
=======
<h1> <%= welcomeMessage %> </h1>

<img src="/images/funny-cat-faces-1.jpg" width="100%" height="100%" />
>>>>>>> 1a5d7d85354d1ca0476831328378754cad7b84fd
>>>>>>> 470037bbd9fc57e2c456fee71a3d42d123e20b0f
