<style>

.main-nav {
    background-image: url('/images/funny-cat-faces-1.jpg');
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 200px 70px 180px;
}
</style>

<div class="title"> <h1> <%- welcomeMessage %> </h1> </div>
    <br>
<nav> 
     <div class="flex-container">
        <div class="second-nav"></div>
        <div class="main-nav">
            Welcome to Rate My Cat - the ONLY place where cat lovers
            can show their feline friends to the world and see what
            others think! 

    </div>
    </div>

</div>  
</nav>
   

    