<style>
  .main-nav {
    color: rgba(255, 255, 255, 0.83);
    font-size: 40px;
    text-align: center;
    padding: 200px 70px 180px;
  }
</style>

<% title = "Welcome to the Rate My Cat App™!" %>

<nav>
  <div class="flex-container">
    <div class="main-nav" id="welcomeMessage">
      We are Rate My Cat - the ONLY place where cat lovers can show their feline
      friends to the world and see what others think!
      <br />
      Join now or sign in to get sharing!
    </div>
  </div>
</nav>
