
<div class="title"> <h1> <h1> Add Cat </h1> </h1> </div>
<br>



<nav> 
    <div class="flex-container">
       <div class="second-nav"></div>
       <div class="main-nav pad">
        <form method="POST" action="/Cat/add">

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Cat Name</label>
                <div class="col-sm-10">
                    <input name="name" type="text" class="form-control"/>
                </div>
            </div>
            
            <!-- IMAGE UPLOAD PLACE HOLDER -->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Image</label>
                <div class="col-sm-10">
                    <!-- <input name="image" type="text" class="form-control" /> -->
                    <input type="file"id="photo" name="photo"accept="image/*">
                </div>
            </div>
            <!-- IMAGE UPLOAD PLACE HOLDER -->

            <!-- Working on current date limit for birthdate calendar and date comparison to work out age -->

<!-- should prevent being able to select a future date from calendar -->
<% (function($){ %>
    <% var dtToday = new Date(); %>
    <% var month = dtToday.getMonth() + 1;  %>
    <% var day = dtToday.getDate(); %>
    <% var year = dtToday.getFullYear(); %>
    <% if(month < 10) %>
    <%    month = '0' + month.toString(); %>
    <% if(day < 10) %>
    <%  day = '0' + day.toString(); %>
    <% var maxDate = year + '-' + month + '-' + day; %>
    <% $('#dateID').attr('max', maxDate); %>
    <% }) %>
    
    <div class="form-group">
        <label>Birth Date</label>
        <input type="date" id="dateID" name="age" min="2000-01-01">
        <!-- <input id="dateID" type="date"/> -->
    </div>
    
    <!-- compare current date and birth date -->
    <% function getYearDiffWithMonth(bday ) { %>
    <%   const ms = endDate.getTime() - startDate.getTime(); %>
      
    <% const date = new Date(ms); %>
      
    <% return Math.abs(date.getUTCFullYear() - 1970); %>
        <%   } %>
    
    <% console.log(getYearDiffWithMonth(new Date('1999-09-24'), new Date('2022-01-17'))); %>
    <!-- ----------------------------------------------------------------------------------------------- -->
            
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Birth Date</label>
                <div class="col-sm-10">
                <input type="date" type="month" id="bdaymonth" name="age" class="form-control">
                </div>
            </div>
            
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Breed</label>
                <div class="col-sm-10">
                <select name="breed" class="form-control">
                    <option value="">Please select an option</option>
                    <option value="britishLonghair">British Longhair</option>
                    <option value="britishShorthair">British Shorthair</option>
                    <option value="bengal">Bengal</option>
                    <option value="burmese">Burmese</option>
                    <option value="gingerTabby">Ginger Tabby</option>
                    <option value="maineCoon">Maine Coon</option>
                    <option value="moggy">Moggy</option>
                    <option value="persian">Persian</option>
                    <option value="ragdoll">Ragdoll</option>
                    <option value="russianBlue">Russian Blue</option>
                    <option value="scottishFold">Scottish Fold</option>
                    <option value="siamese">Siamese</option>
                    <option value="sphynx">Sphynx</option>
                    <option value="tabby">Tabby</option>
                    <option value="other">Other</option>
                </select>
                </div>
            </div>
            
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Location</label>
                <div class="col-sm-10">
                <select name="location" class="form-control">
                    <option value="">Please select an option</option>
                    <option value="bath">Bath and North East Somerset</option>
                    <option value="bedfordshire">Bedfordshire</option>
                    <option value="berkshire">Berkshire</option>
                    <option value="bristol">Bristol</option>
                    <option value="buckinghamshire">Buckinghamshire</option>
                    <option value="cambridgeshire">Cambridgeshire</option>
                    <option value="cheshire">Cheshire</option>
                    <option value="cornwall">Cornwall</option>
                    <option value="county Durham">County Durham</option>
                    <option value="cumbria">Cumbria</option>
                    <option value="derbyshire">Derbyshire</option>
                    <option value="devon">Devon</option>
                    <option value="dorset">Dorset</option>
                    <option value="riding">East Riding of Yorkshire</option>
                    <option value="eastSussex">East Sussex</option>
                    <option value="essex">Essex</option>
                    <option value="gloucestershire">Gloucestershire</option>
                    <option value="greaterLondon">Greater London</option>
                    <option value="greaterManchester">Greater Manchester</option>
                    <option value="hampshire">Hampshire</option>
                    <option value="herefordshire">Herefordshire</option>
                    <option value="hertfordshire">Hertfordshire</option>
                    <option value="isleofWight">Isle of Wight</option>
                    <option value="islesofScilly">Isles of Scilly</option>
                    <option value="kent">Kent</option>
                    <option value="lancashire">Lancashire</option>
                    <option value="leicestershire">Leicestershire</option>
                    <option value="lincolnshire">Lincolnshire</option>
                    <option value="merseyside">Merseyside</option>
                    <option value="norfolk">Norfolk</option>
                    <option value="northSomerset">North Somerset</option>
                    <option value="northYorkshire">North Yorkshire</option>
                    <option value="northamptonshire">Northamptonshire</option>
                    <option value="northumberland">Northumberland</option>
                    <option value="nottinghamshire">Nottinghamshire</option>
                    <option value="oxfordshire">Oxfordshire</option>
                    <option value="rutland">Rutland</option>
                    <option value="shropshire">Shropshire</option>
                    <option value="somerset">Somerset</option>
                    <option value="southGloucestershire">South Gloucestershire</option>
                    <option value="southYorkshire">South Yorkshire</option>
                    <option value="staffordshire">Staffordshire</option>
                    <option value="suffolk">Suffolk</option>
                    <option value="surrey">Surrey</option>
                    <option value="tyne&Wear">Tyne & Wear</option>
                    <option value="warwickshire">Warwickshire</option>
                    <option value="westMidlands">West Midlands</option>
                    <option value="westSussex">West Sussex</option>
                    <option value="westYorkshire">West Yorkshire</option>
                    <option value="wiltshire">Wiltshire</option>
                    <option value="worcestershire">Worcestershire</option>
            
                </select>
                </div>
            </div>
            
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Likes</label>
                <div class="col-sm-10">
                <input name="likes" type="text" class="form-control" />
                </div>
            </div>
            
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Dislikes</label>
                <div class="col-sm-10">
                <input name="dislikes" type="text" class="form-control" />
                </div>
            </div>
            
            
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">User</label>
                <div class="col-sm-10">
                <select name="User[]" multiple="multiple" class="form-control users-form">
            
                    <% Users.forEach(function(User) {     %> 
                        <option value="<%= User._id %>" > <%= User.name %> </option>
                    <% }) %>
            
                </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary cat-btn">
                Create Cat
            </button>
            
            </form>
       </div>
   </div>

</div>  
</nav>
