
<% title = "Add A Cat" %>

<nav> 
    <br>
    <div class="flex-container">
       <div class="main-nav pad">
        <form method="POST" action="/cat/add" enctype="multipart/form-data">

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label" id="attribute">Cat Name</label>
                <div class="col-sm-10">
                    <input name="name" type="text" class="form-control"/>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label" id="attribute">Photo</label>
                <div class="col-sm-10">
                    <input type="file" id="photo" name="image" onchange="loadFile(event)" accept="image/*"/> 
                    <p> <img id="output" width="100"/> </p>
                    </div>
                    
                    <script type="text/javascript">
                        var loadFile = function(event) {
                          var image = document.getElementById('output');
                          image.src = URL.createObjectURL(event.target.files[0]);
                        };
                      </script>
            </div>

                      <!-- <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Birth Date</label>
                        <div class="col-sm-10">
                             <input  type="date" class="bday" name="age" max="3000-01-01" class="form-control" onfocus="this.max=new Date().toISOString().split('T')[0]"  min="2000-01-01">
        
                        </div>
        
                    </div>
        
                    <% function calculateAge(age) { %> 
                    <% var ageDifMs = Date.now() - age; %>
                    <% var ageDate = new Date(ageDifMs); %>
                    <% return Math.abs(ageDate.getUTCFullYear() - 1970); %>
                    <% } %>
            
        
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Age <% calculateAge %></label>
        
                        
                    </div> -->
        
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label" id="attribute">Age</label>
                        <div class="col-sm-10">
                        <input name="age" type="text" class="form-control" />
                        </div>
                    </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label" id="attribute">Breed</label>
                <div class="col-sm-10">
                <select name="breed" class="form-control">
                    <option value="">Please select an option</option>
                    <option value="britishLonghair">British Longhair</option>
                    <option value="britishShorthair">British Shorthair</option>
                    <option value="bengal">Bengal</option>
                    <option value="burmese">Burmese</option>
                    <option value="gingerTabby">Ginger Tabby</option>
                    <option value="maineCoon">Maine Coon</option>
                    <option value="moggy">Moggy</option>
                    <option value="persian">Persian</option>
                    <option value="ragdoll">Ragdoll</option>
                    <option value="russianBlue">Russian Blue</option>
                    <option value="scottishFold">Scottish Fold</option>
                    <option value="siamese">Siamese</option>
                    <option value="sphynx">Sphynx</option>
                    <option value="tabby">Tabby</option>
                    <option value="other">Other</option>
                </select>
                </div>
            </div>
    
            
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label" id="attribute">Likes</label>
                <div class="col-sm-10">
                <input name="likes" type="text" class="form-control" />
                </div>
            </div>
            
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label" id="attribute">Dislikes</label>
                <div class="col-sm-10">
                <input name="dislikes" type="text" class="form-control" />
                </div>
            </div>


            <input type="submit" name="Create Cat" class="btn btn-primary cat-btn" id="submitbtn"/>
            
                </select>
                </div>
            </div>
        
            
        </form>
       </div>
   </div>

</div>  
</nav>
