<% title = "Cats" %>


<nav> 
     <div class="flex-container" style="overflow-y: scroll; width:700px;">
        <div class="main-nav pad">
            <!-- <div class="catWindow" style="overflow-y: scroll; width:400px;"></div> -->

            <% cats.forEach(function(cat){ %>  
              
                <div class="w3-card-4" style="width:30%">
                <a href="/cat/detail?id=<%= cat._id %>">
                  <img src="..<%= cat.image %>" alt="<%= cat.name %>" style="width:100%" />
                </a>
                  <!-- <div class="w3-container w3-center"> -->
                    <div class="catFooter">
                    <h3><%= cat.name %></h3>
                    </div>
                  </div>
                  <% }) %> 
                </div>
        </div>
        </div>
    </div>

</div>  
</nav>
