<% title = "Cats" %>


<nav>
  <div class="flex-container" style="overflow-y: scroll; width: 1000px">
    <div class="main-nav pad">

      <% cats.forEach(function(cat){ %>

      <div class="w3-card-4" style="width: 30%" id="catImage">
        <a href="/cat/detail?id=<%= cat._id %>">
          <img id="catImage"
            src="..<%= cat.image %>"
            alt="<%= cat.name %>"
            style="width: 100%"
          />
        </a>
        <div class="catFooter">
          <h3><%= cat.name %></h3>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</nav>

